# Base de données (Hostinger)
DB_HOST=localhost
DB_NAME=u320069492_NihonTracks
DB_USER=
DB_PASS=
DB_CHARSET=utf8mb4

# Application
APP_ENV=production
APP_URL=https://nihontracks.koshiki.art
APP_DEFAULT_LANG=fr
APP_LANGS=fr,en,ja

# API externes
YOUTUBE_API_KEY=
OPENAI_API_KEY=
