RewriteEngine On

# Bloque l'accès direct aux fichiers sensibles si jamais servis depuis public/
<FilesMatch "\.(env|json|lock)$">
    Require all denied
</FilesMatch>

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
